<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card text-center bg-dark text-primary">
        <div class="card-header">
          <h3>SignIn</h3>
        </div>
        <div class="card-body">
          <form action="/signin" method="POST">
              <div class="form-group">
                <input type="text"  class="form-control bg-dark text-white" name="username" placeholder="username" autofocus>
              </div>
              <div class="form-group">
                <input type="password" class="form-control bg-dark text-white" name="password" placeholder="password">
              </div>
              <div class="from-group">
                <button class="btn btn-dark btn-block">
                  <h4 class="text-primary">Send</h4>

                </button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>